
/* mobile view */

@media only screen and (min-width: 768px) and (max-width: 1100px) {
   /* navigation */
  .logo-area span{
    display: none;
  }

  /* jumbotron */
  .jumbotron p{
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 3px;
  }
  .subtext h4{
    font-size: 18px;
  }
  .subtext{
    font-size: 13px;
  }
  .indexBackground{
    background: linear-gradient(90deg, #EAEAEA 65%, #EAEAEA -30%);
  }
  .searchSection{
    margin: 10px 10px 10px 30px;
    padding: 10px 20px;
  }
  .carouselborder{
    height: 400px;
  }
  .carouselborder img,.carouselborder video{
    height: 400px;
  }

  .carousel-control-next{
    padding-right: 30px;
  }
  .formsession span{
    font-size: 13px;
  }
  /* jumbotron end */

  /* first group */
  .group1{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .label2{
    border-radius: 10px;
    padding: 40px 15px 40px 15px;
  }
  .label2 h3{
    font-size: 20px;
  }
  .sublabel{
    font-size: 13px;
    padding-top: 10px;
  }
  .salecard li{
    padding-left: 20px;
  }
  .featuredcard{
    padding: 0 10px;
  }
  /* second group */
  .label{
    border-radius: 10px;
  }
  .label h3{
    font-size: 20px;
    padding: 20px 10px;
  }

  .housecard .salecard{
    width: 230px;
    padding: 0;
  }

  .salecard h6{
    font-size: 12px;
    padding-bottom: 0;
  }
  .salecard li{
    font-size: 10px;
    padding-left: 20px;
    list-style-type: circle;
  }
  .layer h5{
    font-size: 12px;
  }

  .layer2{
    font-size: 10px;
    padding: 3px 3px;
  }

  /* properties */
  .searchSection{
    font-size: 13px;
  }
  .searchSection input::placeholder{
    font-size: 13px;
  }

  /* aboutUs */
  .ourhistory .label2{
    padding: 10px;
    margin-right: 0!important;
  }
  .ourhistory .history{
    border-radius: 20px 5px 5px 20px;
    margin-left: 0!important;
  }
  .history{
    text-align: justify;
    font-size: 10px;
  }
  .locationsession{
    text-align: center;
    margin: 10px;
  }
  .about-caption{
    font-size: 13px;
  }
  .conclusion h3{
    font-size: 20px;
  }
  .conclusion p{
    font-size: 13px;
    text-align: justify;
  }

  /* contact us */
  .contactsession h3{
    font-size: 16px;
  }
  .card-text{
    font-size: 14px;
  }
  .contactCard{
    height: 300px;
  }
  .contactCard h4{
    font-size: 18px;
  }
  .contactCard h6{
    font-size: 14px;
  }
  .contactCard p{
    font-size: 12px;
  }
  .locationsession h4{
    font-size: 15px;
  }
  .question span{
    font-size: 13px;
  }

  /* sign in page */
  .login-form{
    margin-top: 25px;
    min-height: 60vh;
  }
  .login-video{
    margin-top: 25px;
  }
  .loginlayer{
    width: 270px;
  }
  .loginlayer h3{
    font-size: 20px;
  }
  .loginlayer h6{
    font-size: 13px;
  }

  /* saleitem page */
  .itemDetail{
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .itemimage{
    position: relative;
    top: 25px;
  }
  }