/* google font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* background */
html,body{
  overflow-x: clip;
  scroll-behavior: smooth;
}

.indexBackground{
  position: fixed;
  left: -50%;
  right: -30%;
  top: 0;
  bottom: 0;
  z-index: -1000;
  background: linear-gradient(90deg, #EAEAEA 65%, #ffffff -40%);
  opacity: 1.5;
  height: 100vh;
}
.background{
  position: fixed;
  background-color: #EAEAEA;
  left: -10%;
  right: -90%;
  top: 0;
  bottom: 0;
  z-index: -1000;
}

/* navigation */

nav{
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo-area{
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #b69e40;

}
.logo-area img{
  z-index: 100;
}

.logo{
  width: 50px;
  padding-right: 10px;

}
.navlinks ul{
  margin-bottom: 0;
  padding: 0 10px;
}
.navlinks ul li{
  display: inline-block;
}
.navlinks ul li a{
  text-decoration: none;
  margin: 0 20px;
  color: black;
  font-weight: bold;
  transition: .3s;
}
.navlinks ul li a:hover{
  color: #b69e40;
}
.navibutton{
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 25px;
  outline: .1rem solid #b69e40;
  outline-offset: -5px;
}
.navibutton:hover{
  outline-offset: 2px;
}
.icon{
  font-size: 30px;
  display: none;
}

/* mobile navigation */
.Mobilenavlinks{
  display: none;
}

/* jumbotron */

/* jumbotron content1 */
@media (min-width: 1400px) {
  .jumbotron{
    margin-top: 50px;
  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content p{
  font-family: 'Abril Fatface', cursive;
  color: rgba(0, 0, 0, 0.171);
  font-size: 65px;
  line-height: 70px;
  -webkit-text-stroke-width: .5px;
  object-fit: cover;
  -webkit-text-stroke-color: #000000;
  background: url(img/animationslider.jpg);
  -webkit-background-clip: text;
  animation: animation 60s linear infinite;
  background-position: center;
}
.subtext{
  font-size: 13px;
  text-align: justify;
}
.subtext h4{
  font-size: 25px;
  font-family: 'Parisienne', cursive;
}
@keyframes animation{ 
  100%{
    background-position: 500px 0;
  }
}
.learnmore{
  width: 150px;
  padding: 10px 5px;
  border: none;
  color: white;
  border-radius: 15px;
  margin-left: 5px;
  background-color: #1F2833;
  outline: .1rem solid #b69e40;
  outline-offset: -3px;
  transition: 0.3s;
}
.learnmore:hover{
  background-color: #9e872a;
  outline-offset: 3px;
}


/* jumbotron content2 */
.formsession{
  color: #3a3213;
  font-size: 14px;
}
.form-area .searchbar{
  border-radius: 15px 0 0 15px;
  text-overflow: ellipsis;
}
.form-area .searchbar:focus{
  box-shadow: none;
}
.form-area button{
  color: white;
  background-color: #b69e40;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 0 15px 15px 0;
  transition: 0.3s;
}
.form-area button:hover{
  background-color: #9e872a;
}
.searchSection{
  border-radius: 20px;
  padding: 10px 30px;
  background-color: white;
  font-size: 14px;
}
.searchSection input::placeholder{
  font-size: 14px;
}
.searchSection select{
  background-color: white;
  border: none;
  padding: 5px 0;
  outline: none;
  width: 80%;
  margin-bottom: 5px;
  box-shadow: none;
  text-overflow: ellipsis;
  cursor: pointer;
}
.searchSection input{
  text-overflow: ellipsis;
}
.search-area input:focus{
  box-shadow: none;
}
/* carousel jumbotron */
.carouselborder img{
  width: 100%;
  height: 77vh;
  object-position: center;
  object-fit: cover;
  transition: 1s;
}
.carouselborder:hover img{
  transform: scale(1.05);
}
.carouselborder video{
  width: 100%;
  height: 77vh;
  object-position: center;
  object-fit: cover;
  transition: 1s;
}
.carouselborder:hover video{
  transform: scale(1.05);
}
.carouselborder{
  border-radius: 30px 0 0 30px;
  height: 77vh;
  border: 2px solid #b69e40;
}
.customCarousel{
  padding-top: 13px;
}

/* group1 */
.group1{
  background-color: #EAEAEA;
  padding: 40px 0;
}
.bscard{
  border-radius: 20px;
  margin: 10px 0;
  cursor: pointer;
  /* overflow: hidden; */
}
.bscard img{
  padding: 3px;
  border-radius: 20px;
}


.cards{
  padding: 5px 5px 0 5px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
}
.cards .cards-img{
  transition: .3s;
  border: 2px solid #966e00;
}

.cards:hover .cards-img{
  transform: translateY(-40px);
}

.cards h3{
  transition: .3s;
}
.cards:hover h3{
  transform: translateY(-40px);
}

.cards .card-text{
  transition: .3s;
  margin-bottom: 0;
}
.cards:hover .card-text{
  transform: translateY(-40px);
}
.cards-morph{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-morph button{
  position: absolute;
  bottom: 0;
  margin: auto;
  transition: .4s;
  opacity: 0;
  padding: 7px 10px;
  border: none;
  color: white;
  border-radius: 15px;
  outline: .1rem solid #b69e40;
  outline-offset: -3px;
  visibility: hidden;
}
.cards:hover button{
  transform: translateY(-20px);
  opacity: 1;
  visibility: visible;
  background-color: #1F2833;
}
.cards-morph button:hover{
  background-color: #9e872a;
  outline-offset: 3px;
}
.label{
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  border: 2px solid #b69e40;
}
.label h3{
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
}

.group2{
  background-color: #EAEAEA;
  padding: 10px 0;
}
.label2{
  /* background-color: #1F2833; */
  background-color: white;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  border: 2px solid #b69e40;
}
.label2 h6{
  font-size: 15px;
  font-family: 'Abril Fatface', cursive;
}
.sublabel{
  width: 90%;
  margin:auto;
  text-align: center;
  font-size: 13px;
}
.featuredcard{
  padding: 0 20px;
}

.infolayer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;

}

.infolayer img{
  width: 200px;
  position: relative;
}
.infolayer label{
  font-size: 30px;
  position: absolute;
  font-family: 'Parisienne', cursive;
}

/* homepage card */

.pic1 img, .pic2 img{
  width: 100%;
  height: 300px;
  transition: .5s;
  object-fit: cover;
  object-position: center;
}
.pic1:hover img, .pic2:hover img,.vid:hover video{
  filter: drop-shadow(1px 2px 2px black);
}
.pic1-caption, .pic2-caption, .vid-caption{
  background-color: white;
  height: 300px;
  width: 100%;
  text-align: justify;
  border: 2px solid #b69e40;
  font-size: 13px;
}
.pic1-caption h3, .pic2-caption h3, .vid-caption h3{
  color: #3a3213;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
.pic1-caption h6, .pic2-caption h6, .vid-caption h6{
  padding-top: 15px;
  color: #b69e40;
  cursor: pointer;
  font-size: 17px;
}

.vid video{
  transition: .5s;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}



/* property page */
.salecard{
  border-radius: 10px;
  margin: 20px 0 5px;
  cursor: pointer;
  transition: .3s;
}
.salecard:hover{
  border: 1px solid rgb(128, 128, 128);
}

.salecard-img img{
  padding: 3px;
  border-radius: 10px;
  transition: .3s;
  object-fit: cover;
  height: 100%;
}
.salecard-img{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.salecard-img .layer{
  position: absolute;
  color: white;
  transform: translateY(50px);
  transition: .3s;
  opacity: 0;
  border: 1px solid white;
  padding: 10px 10px 2px 10px;
  border-radius: 13px;
}
.salecard:hover img{
  filter: brightness(60%);
}
.salecard:hover .salecard-img .layer{
  opacity: 1;
  transform: translateY(0);
}
.layer:hover{
  background-color: #000000;
}
.salecard-img .layer2{
  position: absolute;
  padding: 5px 10px;
  background-color: white;
  border-radius: 15px;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.salecard-body{
  padding: 8px 5px;
}
.salecard-body h5{
  color: #9e872a;
}
.salecard-body h4{
  color: #9e872a;
}
.salecard ul li{
  font-size: 12px;
  list-style-type: circle;
}


/* About US page morph */
.aboutUs .card-body{
  padding-bottom: 40px;
}
.cards .aboutUsImg{
  padding-top: 50px;
  width: 50%;
}
.cards .aboutUsImg{
  transition: .3s;
}
.cards:hover .aboutUsImg{
  transform: translateY(-25px)scale(1.2);
}
.about-caption{
  color: #1F2833;
  position: absolute;
  bottom: -10px;
  margin: auto;
  transition: .3s;
  opacity: 0;
  border: none;
  text-align: center;
  padding: 0 15px;
  visibility: hidden;
}
.cards h2{
  color: #b69e40;
  transition: .3s;
}
.cards:hover h2{
  opacity: 0;
}
.cards:hover .about-caption{
  transform: translateY(-50px);
  opacity: 1;
  visibility: visible;
}

/* contact Us page */

.contact i{
  font-size: 60px;
  margin: 20px 0;
}
.contactCard{
  border-radius: 15px;
  padding: 10px;
  height: 350px;
  margin: 25px 5px;
}

.accordion-button:focus{
  box-shadow: none;
  outline: none;
}

/* login-page */
.login-form{
  border-radius: 30px;
  padding: 30px 15%;
  min-height: 82vh;
  margin-left: 10px;
}
.login-form input:focus{
  box-shadow: none;
}

.login-video{
  min-height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginlayer{
  position: absolute;
  max-width: 350px;
  height: 250px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.788);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.loginlayer h3{
  color: #b69e40;
  margin-top: 10px;
  font-family: 'Abril Fatface', cursive;
}


.login-video video{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  border-radius: 30px 0 0 30px;
  border: 2px solid goldenrod;
}
.form-check span{
  font-size: 14px;
}
.socialmedia img{
  width: 45px;
  cursor: pointer;
}


/* property page */

/* swiperJS for saleitem */
.saleitemcarousel .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

 .saleitemcarousel .swiper-slide {
  background-size: cover;
  background-position: center;
}

.saleitemcarousel .itemSwiper2 {
  height: 80%;
  width: 100%;
}

.saleitemcarousel .itemSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.saleitemcarousel .itemSwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.saleitemcarousel .itemSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.saleitemcarousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
/* swiperJs end */

.saleitemcarousel{
  background-color: white;
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  height: 450px;
}

.itemimage{
  position: sticky;
  top: 90px;
}

.itemDetail{
  width: 100%;
  max-height: auto;
  border-radius: 20px;
}
.itemDetail h3{
  color: #1F2833;
}
.itemDetail .detail h6{
  color: #9e872a;
}
.description ul{
  list-style-type: circle;
}
.request input:focus,.request textarea:focus{
  box-shadow: none;
}

/* footer */
.footer{
  background-color: #1F2833;

}
.footer h2{
}
.footer span{
  color: #9e872a;
}
.footer .copyright{
  color: rgb(165, 165, 165);
  font-size: 13px;
}

/* on scroll animation */

.reveal{
  position: relative;
  transform: translateX(70px);
  opacity: 0;
  transition: 1.1s all ease;
}
.reveal.active{
  transform: translateX(0);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(-70px);
  opacity: 0;
  transition: 1.1s all ease;
}
.reveal2.active2{
  transform: translateX(0);
  opacity: 1;
}

.reveal3{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1.1s all ease;
}
.reveal3.active3{
  transform: translateX(0);
  opacity: 1;
}

/* on load animation */
 .formsession span, .formsession .searchSection,
 .loginlayer h3, .loginlayer p{
  display: block;
  opacity: 0;
  animation: reveal .5s forwards var(--delay);
}
@keyframes reveal{
  /* from { translate: - 20px; }
  to { translate: none; opacity: 1;} */
  from { transform: translateY(50px);}
  to { transform: translateY(0); opacity: 1;}
}

