
/* mobile view */

@media only screen and (max-width: 767px) {

  /* navigation */
  .icon{
    display: block;
    cursor: pointer;
  }
  nav{
    z-index: 1000;
  }
  .navlinks{
    position: absolute;
    background-color: rgb(216, 216, 216);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    text-align: left;
    z-index: 10;
    transition: .7s;
    overflow-y: hidden;
    padding-bottom: 50px;
  }
  .navlinks ul li a{
    color: black;
  }
  .navlinks ul li{
    display: block;
    margin: 50px 0;
    border-radius: 20px;
  }
  .navlinks ul{
    padding-left: 0;
    text-align: center;
  }
  .navibutton{
    margin-left: 0;
    color: black;
    border: 2px solid black;
  }
  .navlinks .closeMenubar{
    background-color: white;
    display: block;
    padding: 15px 20px;
    text-align: end;
    position: sticky;
    top: 0;
  }
  /* navigation end */

  /* jumbotron */


  .jumbotron p{
    font-size: 55px;
    text-align: start;
  }
  .subtext h4{
    padding-top: 20px;
    font-size: 20px;
    text-align: start!important;
  }
  .subtext{
    font-size: 15px;
    text-align: start!important;
  }
  .indexBackground{
    background: linear-gradient(90deg, #EAEAEA 65%, #EAEAEA -30%);
  }
  .searchSection{
    margin: 10px 13px;
  }
  .customCarousel{
    margin-left: 10px;
  }
  .carousel-control-next{
    padding-right: 30px;
  }
  .carouselborder img{
    height: 50vh;
  }
  .carouselborder video{
    height: 50vh;
  }
  .carouselborder{
    height: 50vh;
  }
  /* jumbotron end */

  /* first group */
  .group1{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .label2{
    margin-left: 10px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 40px 15px 40px 15px;
  }
  .label2 h3{
    font-size: 20px;
  }
  .sublabel{
    font-size: 13px;
    padding-top: 10px;
  }
  .salecard li{
    padding-left: 20px;
  }
  .featuredcard{
    padding: 0 10px;
  }
  /* second group */
  .group2 .col-md-8{
    order: 2;
  }
  .label{
    margin: 10px!important;
    padding: 30px 0;
    border-radius: 5px 20px 20px 5px;
  }
  .label h3{
    font-size: 20px;
    padding: 20px 10px;
  }


  .salecard h6{
    font-size: 12px;
    padding-bottom: 0;
  }
  .salecard li{
    font-size: 10px;
    list-style-type: circle;
  }
  .layer h5{
    font-size: 12px;
  }

  .layer2{
    font-size: 10px;
    padding: 3px 3px;
  }
  .pic2-container .col-md-5{
    order: 2;
  }
  .pic1-caption, .pic2-caption{
    margin-top: 10px;
  }
  .vid-caption{
    margin-top: 5px;
  }

  /* properties */
  .searchSection{
    font-size: 13px;
  }
  .searchSection input::placeholder{
    font-size: 13px;
  }

  /* aboutUs */
  .ourhistory .label2{
    margin-left: 10px;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
  }
  .ourhistory .history{
    border-radius: 20px 5px 5px 20px;
    margin: 30px 10px 19px 10px!important;
  }
  .history{
    text-align: justify;
  }
  .locationsession{
    text-align: center;
    margin: 10px;
  }
  .aboutUscard-container{
    padding-left: 0px!important;
    margin: 0!important;
  }
  .aboutUscard{
    width: 100%;
    margin-top: 30px;
    padding: 30px 10px 10px 30px!important;
  }
  .aboutUs .label{
    border-radius: 5px;
  }

  /* contact us */
  .contactsession .cards{
    width: 320px;
  }
  .contactsession .card-body{
    padding: 25px 5px;
  }
  .contactsession h3{
    font-size: 15px;
  }
  .card-text{
    font-size: 14px;
  }
  .contactCard{
    height: 300px;
  }
  .contactCard h4{
    font-size: 18px;
  }
  .contactCard h6{
    font-size: 14px;
  }
  .contactCard p{
    font-size: 12px;
  }

  /* sign in page */
  .login-form{
    min-height: 60vh;
    margin-right: 10px;
  }
  .login-video{
    margin-top: 25px;
    margin-left: 10px;
  }
  .loginlayer{
    width: 270px;
  }
  .loginlayer h3{
    font-size: 20px;
  }
  .loginlayer p{
    font-size: 13px;
  }

  /* saleitem page */
  .itemDetail{
    margin-top: 25px;
    margin-bottom: 30px;
  }

  /* footer */
  .footer h2{
    font-size: 19px;
  }
  .footer h5{
    font-size: 17px;
  }
  .footer{
    font-size: 12px;
  }
  .footer .copyright{
    font-size: 12px;
  }

}